## Data Structures

In [1]:
#add one to anInteger 
def addOne(anInteger):
    anInteger = anInteger + 1
    print("anInteger:", anInteger) 

#create myInteger with the value 5
myInteger = 5
print("myInteger before addOne:", myInteger) 

#call addOne on myInteger 
addOne(myInteger) 
print("myInteger after addOne:", myInteger)

myInteger before addOne: 5
anInteger: 6
myInteger after addOne: 5

In [4]:
def squareInteger(incomingInteger):
    incomingInteger = incomingInteger ** 2 
    return incomingInteger 
incomingInteger = 5 
squareInteger(incomingInteger)
print(incomingInteger)

5

In [5]:
def addExc(aString):
    aString = aString + "!"
    print("aString:", aString)

myString = "Hello, world"
print("myString before addExc:", myString)
addExc(myString)
print("myString after addExc:", myString)

myString before addExc: Hello, world
aString: Hello, world!
myString after addExc: Hello, world

In [6]:
def addItem(aList):
    aList.append("New Item!")
    print("aList:", aList)

myList = ["One", "Two", "Three"] 
print("myList before addItem:", myList) 
addItem(myList)
print("myList after addItem:", myList)

myList before addItem: ['One', 'Two', 'Three']
aList: ['One', 'Two', 'Three', 'New Item!']
myList after addItem: ['One', 'Two', 'Three', 'New Item!']

In [7]:
my_string = "David"
print(my_string.upper())

DAVID

In [9]:
my_string = "David"
my_string = my_string.upper()
print(my_string)

DAVID

In [10]:
myInt1 = 5
myInt2 = myInt1 
myInt1 = 7

print("myInt1:", myInt1)
print("myInt2:", myInt2)

myInt1: 7
myInt2: 5

In [11]:
myList1 = ["One", "Two", "Three"]
myList2 = myList1 
myList1.append("Four")

print("myList1:", myList1) 
print("myList2:", myList2)

myList1: ['One', 'Two', 'Three', 'Four']
myList2: ['One', 'Two', 'Three', 'Four']

In [12]:
bool1 = True
bool2 = bool1
bool1 = False
print(bool2)

True

In [13]:
int1 = 5
int2 = int1
int1 += 2
print(int2)

5

In [14]:
string1 = "Boggle"
string2 = string1
string1 += " the Cat"
print(string2)

Boggle

In [15]:
list1 = [1, 2, 3] 
list2 = list1
list1. append(4)
print(list2)

[1, 2, 3, 4]

In [16]:
my_list = [1, 2, 3] 
print(id(my_list))

140411350106368

In [18]:
myNumericString = "12345"
myNonNumericString = "ABCDE"

print(myNumericString.isdigit())
print(myNonNumericString.isdigit())

True
False

In [19]:
import string
def isdigit(inString):
    for character in inString:
        if not character in string.digits:
            return False 
        return True

myString = "52672"
print(isdigit(myString))
print(myString.isdigit())

True
True

In [34]:
my_string = ''''ello, "world"!'''

In [35]:
my_string

'\'ello, "world"!'

In [36]:
#Write a function called random_marks. random_marks should
#take three parameters, all integers. It should return a
#string.
#
#The first parameter represents how many apostrophes should
#be in the string. The second parameter represents how many
#quotation marks should be in the string. The third
#parameter represents how many apostrophe-quotation mark
#pairs should be in the string.
#
#For example, random_marks(3, 2, 3) would return this
#string: #'''""'"'"'"
#
#Note that there are three apostrophes, then two quotation
#marks, then three '" pairs.


#Add your function here!

def random_marks(apostrophe, quotation, apostrophe_quotation):

   return "'"*apostrophe + "\""*quotation + "'\""*apostrophe_quotation


#Below are some lines of code that will test your function.
#You can change the value of the variable(s) to test your
#function with different inputs.
#
#If your function works correctly, this will originally
#print: '''""'"'"'"

print(random_marks(3, 2, 3))

'''""'"'"'"

In [50]:
#Write a function called "steps" that should return a string 
#that, if printed, looks like this:
#
#111
#	222
#		333
#
#Note that the characters at the beginning of the second and
#third lines must be tabs, not spaces. There should be one
#tab on the second line and two on the third line.
#
#You may only declare ONE string in your function.
#
#Hint: Don't overthink this! We're literally just asking you
#to return one single string that just holds the above text.
#You don't have to build the string dynamically or anything.


#Write your function here!
def steps():
    return "111\t\n\t222\n\t\t333"


#The line below will test your function.
print(steps())

111
	222
		333

In [41]:
mystr = "12345\n67890"
print(mystr)

12345
67890

In [52]:
mystr1 = "12345"
mystr2 = "67890"
mystr3 = mystr1 + mystr2
print("Assignment Concatenation: " + mystr3) 
print("In-Line Concatenation: " + mystr1 + mystr2) 
mystr1 += mystr2
print("Self-Assignment Concatnation: " + mystr1)

Assignment Concatenation: 1234567890
In-Line Concatenation: 1234567890
Self-Assignment Concatnation: 1234567890

In [66]:
my_string = "Hello"
my_string += "!"
my_string = "!" + my_string
my_string = "?" + my_string + "?"
my_string += my_string

In [67]:
my_string

'?!Hello!??!Hello!?'

In [68]:
for i in range(1, 6):
    print("Loop iteration #", i, "beginning now")

Loop iteration # 1 beginning now
Loop iteration # 2 beginning now
Loop iteration # 3 beginning now
Loop iteration # 4 beginning now
Loop iteration # 5 beginning now

In [70]:
for i in range(1, 6):
    printMessage = "Loop iteration #" + str(i) + " beginning now"
    print(printMessage)

Loop iteration #1 beginning now
Loop iteration #2 beginning now
Loop iteration #3 beginning now
Loop iteration #4 beginning now
Loop iteration #5 beginning now

In [72]:
for i in range(1, 6):
    printMessage = " beginning now"
    printMessage = str(i) + printMessage
    printMessage = "Loop iteration #" + printMessage
    print(printMessage)

Loop iteration #1 beginning now
Loop iteration #2 beginning now
Loop iteration #3 beginning now
Loop iteration #4 beginning now
Loop iteration #5 beginning now

In [77]:
#-----------------------------------------------------------
#Write a function called align_right. align_right should
#take two parameters: a string (a_string) and an integer
#(string_length), in that order.
#
#The function should return the same string with spaces
#added to the left so that the text is "right aligned" in a
#string. The number of spaces added should make the total
#string length equal string_length.
#
#For example: align_right("CS1301", 10) would return the
#string "    CS1301". Four spaces are added to the left so
#"CS1301" is right-aligned and the total string length is
#10.
#
#HINT: Remember, len(a_string) will give you the number of
#characters currently in a_string.


#Add your function here!
def align_right(a_string, string_length):
    spaces = len(a_string)
    totspaces = string_length - spaces 
    space = " " * totspaces
    return space + a_string


#Below are some lines of code that will test your function.
#You can change the value of the variable(s) to test your
#function with different inputs.
#
#If your function works correctly, this will originally
#print: "    CS1301"
print(align_right("CS1301", 10))

    CS1301

In [78]:
mystr = "ABCDE" 
print(mystr[0])

A

In [79]:
mystr = "You-are-a-strange-loop"

In [83]:
mystr[13]

'a'

In [84]:
mystr = "ABCDE"
mysubstr = ""

for char in mystr:
    mysubstr += char
print("mysubstr: " + mysubstr)

mysubstr: ABCDE

In [86]:
for i in range(0, 3):
    mysubstr += mystr[i]
print("first three char: " + mysubstr)

first three char: ABCDEABC

In [88]:
mstr = "ABCDE"
start = 0 
end = 3
print("first three char: " + \
      mystr[start:end])

first three char: ABC

In [89]:
mystr = "You-are-a-strange-loop"

In [95]:
mystr[:7]

'You-are'

In [103]:
#Write a function called "last_n" that accepts two arguments:
#a string search_string and an integer n. The function should
#return the last n characters from search_string. If
#search_string is shorter than n characters, then it should
#return the entire value of search_string.


#Write your function here!
def last_n(search_string, n):
    if len(search_string) > n: 
        return search_string[-n:]
    else:
        return search_string


#The code below will test your function. If your function
#works correctly, this should print 789, saur, and 1.
print(last_n("123456789", 3))
print(last_n("Bulbasaur", 4))
print(last_n("1", 5))

789
saur
1

In [104]:
mystr = "You-are-a-strange-loop"

In [105]:
mystr[-1]

'p'

In [111]:
mystr[-15:-5]

'-a-strange'

In [118]:
#Write a function called "scramble" that accepts a string
#as an argument and returns a new string. The new string 
#should start with the last half of the original string
#and end with the first half. 
#
#If the length of the string is odd, split the string 
#at the floor of the length / 2 (in other words, the second
#half is the longer half).
#
#For example:
#  scramble("abcd") -> "cdab"
#  screamble("abcde") -> "cdeab"
#  scramble("railroad")) -> "roadrail"
#  scramble("fireworks")) -> "worksfire"


#Write your function here!
def scramble(string):
    return string[(len(string) // 2):] + string[:(len(string) // 2)]


#Below are some lines of code that will test your function.
#You can change the value of the variable(s) to test your
#function with different inputs.
#
#If your function works correctly, this will originally
#print the results you see in the examples above.

string1 = "abcd"
string2 = "abcde"
string3 = "railroad"
string4 = "fireworks"
print(string1 + " -> " + scramble(string1))
print(string2 + " -> " + scramble(string2))
print(string3 + " -> " + scramble(string3))
print(string4 + " -> " + scramble(string4))

abcd -> cdab
abcde -> cdeab
railroad -> roadrail
fireworks -> worksfire

In [119]:
mystr = "ABCDE"
if "BC" in mystr:
    print("BC was found!")
else:
    print("BC was not found!") 
if "GH" in mystr:
    print("GH was found!") 
else:
    print("GH was not found!")

BC was found!
GH was not found!